@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../Proxima Nova/ProximaNovaBold/proxima_nova_bold-webfont.woff') format('woff2'),
         url('../Proxima Nova/ProximaNovaBold/proxima_nova_bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('../fonts/Proxima Nova/ProximaNovaExtraBold/proxima_nova_extrabold-webfont.woff') format('woff2'),
         url('../fonts/Proxima Nova/ProximaNovaExtraBold/proxima_nova_extrabold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/Proxima Nova/ProximaNovaRegular/proxima_nova_regular-webfont.woff') format('woff2'),
         url('../fonts/Proxima Nova/ProximaNovaRegular/proxima_nova_regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}