@import url(css/media.css);
body {
  padding-right: 0 !important; }

ul, li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.blue {
  color: #1893d2;
  font-weight: 400; }

.yellow {
  color: #fff203;
  font-weight: 700; }

body {
  background-color: #FDFDFD; }

.groshi_main_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3%;
  text-align: center; }
.groshi_main_center_item {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.groshi_main_title {
  font: 48px "proxima_nova_rgbold", sans-serif;
  color: #49b0ea;
  font-weight: 700;
  margin: 0; }

.groshi_main_desk {
  font: 18px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #333333; }

.groshi_main_choose {
  font: 36px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #333333; }
.groshi_main_choose span {
  color: #49b0ea; }

.groshi_main_item {
  width: 370px;
  height: 260px;
  margin: 0 20px; }
.groshi_main_item .anchor {
  padding: 40% 0 0 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%); }
.groshi_main_item .anchor a {
  background-color: #fff203;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #333333;
  width: 270px;
  height: 48px;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 46px;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
.groshi_main_item .anchor a:hover {
  background-color: #ffff36; }
.groshi_main_item .anchor a:active {
  background-color: #e6d330; }

/*.groshi_main_item.credit .anchor a {
  background-color: #ff7800;
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  width: 270px;
  height: 48px;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 46px;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
.groshi_main_item.credit .anchor a:hover {
  background-color: #FF6832; }
.groshi_main_item.credit .anchor a:active {
  background-color: #FF6832; }*/

.groshi_main .credit {
  background: url(../images/credit.png) no-repeat; }

.groshi_main .credit_card {
  background: url(../images/credit_card.png) no-repeat; }

.groshi_main_line {
  max-width: 780px;
  height: 1px;
  background-color: #bbbbbb;
  margin: 3% auto 0; }

.groshi_main_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
.groshi_main_footer p {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #aaaaaa;
  font-weight: 400; }

.header_logo {
  margin-top: 20px; }
.header_logo h2 {
  font: 40px "proxima_nova_thextrabold", sans-serif;
  font-weight: 700;
  color: #1893d2;
  margin: 0;
  position: relative;
  top: -40px;
  left: 50px;
  display: inline-block; }

.header_desk {
  margin-top: 20px; }
.header_desk_top, .header_desk_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.header_desk_top {
  margin-bottom: 15px; }
.header_desk_bottom {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.header_desk_title {
  font: 16px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #333333;
  margin: 0 20px 0 10px; }
.header_desk_btn {
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #1893d2;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 147, 210, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(24, 147, 210, 0.5);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 194px;
  height: 40px;
  font: 16px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  line-height: 40px; }
.header_desk_btn:hover {
  background-color: #49b0ea; }
.header_desk_btn:active {
  background-color: #217493; }

.header_number {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 600;
  color: #333333;
  margin: 0;
  padding: 0; }
.header_number li {
  display: inline-block;
  margin: 0 3px; }
.header_number a {
  font: 24px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #1893d2;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-left: 5px; }
.header_number a:hover {
  color: #49b0ea; }
.header_number a:active {
  color: #217493; }

.header_recall {
  margin-top: 40px; }
.header_recall a {
  background-color: #fff203;
  width: 270px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  text-align: center;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 46px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
.header_recall a:hover {
  background-color: #ffff36; }
.header_recall a:active {
  background-color: #e6d330; }

.credit_info {
  overflow: hidden; }
.credit_info .col-md-7 {
  padding: 0; }
.credit_info_desk {
  background: url(../images/credit_info_1.png) no-repeat center/cover;
  overflow: hidden;
  position: relative;
  min-height: 560px; }
.credit_info_desk .container {
  padding: 0; }
.credit_info_desk .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(24, 147, 210, 0.8); }
.credit_info_desk_title {
  padding-left: 45px; }
.credit_info_desk_title h2 {
  font: 46px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding-top: 20px; }
.credit_info_desk_title p {
  font: 26px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 36px;
  display: inline-block; }
.credit_info_desk_title span {
  color: #fff203;
  font-weight: 700; }
.credit_info_desk_title .line {
  position: relative; }
.credit_info_desk_title .line:after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 370px; }
.credit_info_advantages {
  min-height: 560px;
  background: url(../images/pattern-01.png);
  text-align: left;
  position: relative; }
.credit_info_advantages:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/credit_info_2.png) no-repeat 140%/cover;
  bottom: 0;
  right: -105%; }
.credit_info_advantages h3, .credit_info_advantages p {
  margin: 0; }
.credit_info_advantages_title {
  padding: 15px;
  text-align: center; }
.credit_info_advantages_title h3 {
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700; }
.credit_info_advantages_title p {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400; }
.credit_info_advantages_list {
  background-color: #49b0ea;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }
.credit_info_advantages_list li {
  font: 18px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 15px 0;
  list-style-image: url(../images/correct.svg); }
.credit_info_advantages_rules {
  padding: 15px 0 15px;
  text-align: center; }
.credit_info_advantages_rules h3 {
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  line-height: 26px;
  color: #fff; }
.credit_info_advantages_rules p {
  font: 20px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  color: #fff; }
.credit_info_advantages_rules .yellow {
  font: 28px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 34px;
  margin: 20px 0; }
.credit_info_advantages_rules .yellow .permonth {
  font-size: 42px; }
.credit_info_advantages_rules .yellowbold {
  color: #fff203;
  font-weight: 700; }
.credit_info_advantages_btn {
  margin: 20px 0; }
.credit_info_advantages_btn a {
  display: block;
  background-color: #ff7800;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  max-width: 275px;
  height: 50px;
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 50px;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
.credit_info_advantages_btn a:hover {
  background-color: #FF6832; }
.credit_info_advantages_btn a:active {
  background-color: #FF6832; }
.credit_info_advantages .cards {
  margin: 35px 0 0; }

.why_us {
  margin: 50px 0;
  text-align: center;
  background: url(../images/why_bg.svg) no-repeat center; }
.why_us_title {
  font: 36px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  padding-bottom: 40px; }
.why_us_title span {
  color: #1893d2; }
.why_us_item {
  text-align: left;
  margin: 50px 0; }
.why_us_item img {
  float: left;
  padding-right: 15px; }
.why_us_item .person {
  padding-left: 20px; }
.why_us_item h4 {
  font: 17px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  line-height: 22px;
  margin: 0; }
.why_us_item p {
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 22px;
  margin: 0; }

.banks {
  text-align: center; }
.banks_title {
  font: 36px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  padding-bottom: 40px; }
.banks_title span {
  color: #1893d2; }
.banks_slider_item {
  margin: 0 10px; }
.banks .back, .banks .next {
  cursor: pointer;
  padding-top: 30px; }
.banks .tooltip {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 700;
  color: #333333; }
.banks .tooltip .blue {
  font-weight: 700; }

.option_rules {
  overflow: hidden;
  margin: 35px 0 15px; }
.option_rules .col-md-7 {
  padding: 0; }
.option_rules_desk {
  min-height: 370px;
  background: url(../images/conditions-texture.png) no-repeat center bottom, #1893d2; }
.option_rules_desk_title {
  font: 34px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 45px 0 40px 45px; }
.option_rules_desk_title span {
  color: #fff203; }
.option_rules_desk_list {
  padding-left: 45px; }
.option_rules_desk_list li {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin: 10px 0;
  position: relative;
  padding-bottom: 18px; }
.option_rules_desk_list li:before {
  content: '';
  background: url(../images/option.svg);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: -30px; }
.option_rules_desk_list li span {
  font: 24px "proxima_nova_rgbold", sans-serif;
  font-weight: 700; }
.option_rules_scheme {
  min-height: 370px;
  background: url(../images/pattern-02.png);
  position: relative;
  text-align: center;
  padding: 0 15px; }
.option_rules_scheme:after {
  content: '';
  position: absolute;
  right: -105%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1893d2; }
.option_rules_scheme h2, .option_rules_scheme p {
  margin: 0; }
.option_rules_scheme h2 {
  font: 34px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 25px 0; }
.option_rules_scheme h2 span {
  color: #fff203; }
.option_rules_scheme p {
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #fff; }
.option_rules_scheme .step {
  display: block;
  width: 2px;
  height: 30px;
  background-color: #fff;
  margin: 10px auto; }
.option_rules_scheme_btn {
  max-width: 275px;
  height: 48px;
  background-color: #ff7800;
 /* -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 137, 61, 0.5);*/
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font: 16px "proxima_nova_rgbold", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  line-height: 46px;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: 0 auto 15px; }
.option_rules_scheme_btn:hover {
  background-color: #FF6832; }
.option_rules_scheme_btn:active {
  background-color: #FF6832; }

.feedback {
  background-color: #e5f2ff;
  min-height: 552px; }
.feedback_title {
  font: 36px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  padding: 45px 0 40px 45px; }
.feedback_title span {
  color: #1893d2; }
.feedback .prev, .feedback .forward {
  padding-top: 150px;
  cursor: pointer; }
.feedback .tooltip {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 700;
  color: #333333; }
.feedback .tooltip .blue {
  font-weight: 700; }
.feedback_slider_item {
  max-width: 570px;
  margin: 0 15px; }
.feedback_slider_item .top {
  background: url(../images/pattern-01.png);
  min-height: 120px;
  padding: 20px;
  position: relative; }
.feedback_slider_item .top:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #fff;
  display: block;
  bottom: 0;
  left: 13%; }
.feedback_slider_item .top .name {
  padding: 15px 0 0 0; }
.feedback_slider_item .top img {
  border-radius: 40px;
  float: left;
  margin-right: 15px; }
.feedback_slider_item .top h4 {
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #fff;
  font-weight: 700;
  margin: 0; }
.feedback_slider_item .top p {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 22px;
  margin: 0; }
.feedback_slider .bottom {
  background-color: #fff;
  min-height: 160px;
  max-height: 160px;
  overflow: auto;
  overflow-y: visible;
  overflow-x: overlay; }
.feedback_slider .bottom p {
  font: 18px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin: 0;
  padding: 15px; }
.feedback_btn {
  max-width: 275px;
  height: 48px;
  background-color: #fff203;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  text-align: center;
  line-height: 46px;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: 0 auto 15px; }
.feedback_btn:hover {
  background-color: #ffff36; }
.feedback_btn:active {
  background-color: #e6d330; }

.application_title h3 {
  font: 22px "proxima_nova_rgregular", sans-serif;
  color: #333333;
  line-height: 36px;
  font-weight: 400; }
.application_title h3 span {
  font: 44px "proxima_nova_rgregular", sans-serif;
  font-weight: 700;
  line-height: 36px;
  color: #1893d2; }

.application_btn {
  width: 330px;
  height: 60px;
  background-color: #ff7800;
  /*-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);*/
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  display: block;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  margin: 15px auto; }
.application_btn:hover {
  background-color: #FF6832; }
.application_btn:active {
  background-color: #FF6832; }

.footer {
  min-height: 494px;
  background-color: #333333;
  overflow: hidden; }
.footer .col-lg-6 {
  padding: 0; }
.footer_logo {
  margin: 25px 0; }
.footer_logo h2 {
  font: 40px "proxima_nova_thextrabold", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
  position: relative;
  top: 40px;
  left: -40px;
  display: inline-block; }
.footer_title {
  font: 18px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: 65px 0 0 0; }
.footer_number {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0; }
.footer_number li {
  display: inline-block;
  margin: 0 3px; }
.footer_number a {
  font: 24px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-left: 5px; }
.footer_number a:hover {
  color: #49b0ea; }
.footer_number a:active {
  color: #217493; }
.footer_desk_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0; }
.footer_desk_address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 25px 0;
  font: 18px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 22px; }
.footer_ask_title, .footer_license_title {
  font: 18px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 20px; }
.footer_ask {
  background-color: #fff203;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  width: 270px;
  height: 48px;
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #333333;
  line-height: 50px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px; }
.footer_ask:hover {
  background-color: #ffff36; }
.footer_ask:active {
  background-color: #e6d330; }
.footer_license {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  width: 270px;
  height: 48px;
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #333333;
  line-height: 50px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px; }
.footer_license:hover {
  background-color: #F6FCFF; }
.footer_license:active {
  background-color: #D6DCDF; }
.footer_copy {
  margin-top: 45px;
  border-top: 1px solid #fff; }
.footer_copy p {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400; }

.cart_bg {
  background: url(../images/cart_bg.png) no-repeat center/cover; }

.card_item p {
  display: block; }

.card_item .gray {
  color: #999999; }

.range {
  margin-bottom: 9px; }
.range_item {
  padding: 15px; }
.range_item_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
.range_item_title p {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #fff;
  font-weight: 400; }
.range_item_title p span {
  font: 20px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #fff; }

#amount,
#amount2 {
  width: 70px;
  background: transparent;
  border: none;
  font: 20px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #fff; }

#amount2 {
  width: 25px; }

.ui-widget-header {
  background-color: #1893d2; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1893d2;
  border: 4px solid #fff; }

.credit_card_info {
  padding: 15px; }
.credit_card_info p {
  font-size: 16px; }
.credit_card_info p .sale {
  font-weight: 700;
  color: #fff203; }
.credit_card_info .credit_yellow {
  margin: 20px 0;
  color: #fff203; }
.credit_card_info .credit_after {
  padding-bottom: 15px; }
.credit_card_info .credit_price {
  padding-bottom: 15px; }
.credit_card_info .credit_price .credit_after_price {
  font: 32px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #fff; }

.coin {
  font: 18px "proxima_nova_rgregular", sans-serif;
  font-weight: 400; }

.thanks {
  font: 36px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  margin: 50px 0 85px 0; }
.thanks span {
  color: #1893d2; }

.site_back {
  background: url(../images/site_back.png) no-repeat 10% 45%, #fff203;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  width: 270px;
  height: 48px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-top: 13px;
  font: 18px "proxima_nova_rgbold", sans-serif;
  color: #333333;
  font-weight: 700;
  margin-bottom: 7%; }
.site_back:hover {
  background-color: #ffff36; }
.site_back:active {
  background-color: #e6d330; }

.modal {
  overflow: auto; }

.modal-title {
  font: 24px "proxima_nova_rgregular", sans-serif;
  color: #333333;
  font-weight: 400; }

.modal-desk {
  font: 16px "proxima_nova_rgregular", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 20px; }

.modal-header .close {
  margin-top: -2px;
  border: none;
  background: transparent;
  font-size: 40px;
  color: rgba(24, 147, 210, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  outline: none; }

.modal-body select {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 700;
  color: #333333;
  line-height: 18px; }

.modal-body input, .modal-body button, .modal-body select, .modal-body textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: inset 0px 2px 10px 0px rgba(51, 51, 51, 0.2);
  box-shadow: inset 0px 2px 10px 0px rgba(51, 51, 51, 0.2); }
.modal-body input:focus, .modal-body button:focus, .modal-body select:focus, .modal-body textarea:focus {
  border: 1px solid #217493; }
.modal-body input:placeholder, .modal-body button:placeholder, .modal-body select:placeholder, .modal-body textarea:placeholder {
  font: 16px "proxima_nova_rgregular", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #999999; }

.modal-body button {
  display: inline-block;
  border: none;
  padding: 5px;
  text-align: center;
  line-height: 18px; }

.modal-body .submit {
  background-color: #fff203;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 242, 3, 0.5);
  max-width: 370px;
  padding: 15px;
  font: 24px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  color: #333333;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
.modal-body .submit:hover {
  background-color: #ffff36; }
.modal-body .submit:active {
  background-color: #e6d330; }

.modal-body .phone_code {
  display: inline-block; }

.modal-body #confirm {
  display: inline-block;
  width: 12px; }

.modal-body .label {
  font: 13px "proxima_nova_rgregular", sans-serif;
  font-weight: 700;
  color: #333333;
  line-height: 18px; }
.modal-body .label .agree {
  color: #1893d2; }

.modal-body .bank_license {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0px 2px 10px 0px rgba(51, 51, 51, 0.2);
  box-shadow: inset 0px 2px 10px 0px rgba(51, 51, 51, 0.2);
  padding: 15px; }

.modal_answer {
  width: 320px;
  text-align: center;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  display: none; }
.modal_answer h2 {
  width: 100%;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 10px 0; }
.modal_answer h3 {
  font-size: 16px;
  margin: 0;
  background-color: rgba(153, 204, 102, 0.5);
  color: #fff;
  padding: 15px; }

.phone_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.phone_input #phone1
{
  width: 49px;
  margin: 0 10px;
}

.phone_input #phone1_2
{
  width: 49px;
  margin: 0 10px;
}

.modal-open {
  overflow: auto; }

.wait_phone,
.wait_question,
.wait_feed {
  width: 270px;
  border: 1px solid #72a6ff;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: 18px "proxima_nova_rgbold", sans-serif;
  font-weight: 700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-135px);
  -ms-transform: translateX(-135px);
  transform: translateX(-135px);
  background-color: #fff;
  z-index: 1200;
  display: none; }
.sms-confirm{
  bottom: 30%;
  position: absolute;
  width: 100%;
  height: 39%;
  z-index: 100;
  background: white;
}
input#code:focus::-webkit-input-placeholder{color:transparent;}
.error{
    display: none;
    font-size: 10px!important;
    line-height: 20px!important;
    color: red!important;
}
input#code_sms::-webkit-input-placeholder{font-size:16px; letter-spacing: normal;}
input#code_sms::-moz-placeholder{font-size:16px; letter-spacing: normal;}
input#code_sms:focus::-webkit-input-placeholder{color:transparent;}
