/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}
@media only screen and (max-width : 768px) {
	.ui-slider-horizontal .ui-slider-handle {
		top: -0.4em!important;
	}
	.ui-slider .ui-slider-handle {
		width: 1.5em!important;
		height: 1.5em!important;
	}
}
@media only screen and (min-width : 992px) and (max-width: 1024px) {
  .feedback_slider_item .top:after{
  	left: 11%!important;
  }
}	
@media only screen and (min-width : 992px) and (max-width: 1199px) {
 .header_desk{
 	margin-top: 35px;
 }
 .header_recall{
 	margin-top: 50px;
 }
 .credit_info_desk_title h2{
 	font-size: 38px;
 }
 .credit_info_advantages:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/credit_info_2.png) no-repeat 70%;
    bottom: 0;
    right: -105%;
 }
 .card_after:after{
		background:  url(../images/cart_after.png) no-repeat 70%;
	}
 .header_number{
 	font-size: 14px;
 }
 .header_number a,
 .credit_info_advantages_rules h3,
 .credit_info_advantages_title h3{
 	font-size: 18px;
 }
 .header_desk_bottom{
 	justify-content: flex-start;
 }
 .header_recall a{
 	width: 220px;
 }
 .option_rules_scheme h2{
 	font-size: 28px;
 }
 .option_rules_scheme p,
 .credit_info_advantages_list li{
 	font-size: 14px;
 }
 .option_rules_scheme_btn,
 .credit_info_advantages_btn a{
 	width: 200px;
 	font-size: 12px;
 }
 .credit_info_advantages_btn{
 	margin: 20px 0; 
 }
 .credit_info_advantages_rules{
 	padding: 15px;
 }
 .credit_info_advantages_rules .yellow{
 	font-size: 20px;
 }
 .credit_info_advantages_rules p{
 	font-size: 14px;
 }
 .footer_desk_bottom,
 .footer_desk_address{
 	justify-content: center;
 }
 .footer_desk_bottom img,
 .footer_desk_address img{
 	margin-right: 15px;
 }
 .footer_ask_title,
 .footer_license_title{
 	text-align: center;
 }
 .footer_license,
 .footer_ask{
 	margin: 0 auto;
 }
 .application_title{
 	text-align: center;	
 }
 .application_title h3 span{
 	vertical-align: bottom;
 }
 .feedback_slider_item .top:after{
 	left: 16%;
 	height: 22px;
 }
 .feedback_btn{
 	margin: 35px auto 15px;
 }
 .slick-prev.slick-arrow{
 	display: inline-block;
 	cursor: pointer;
 	position: absolute;
 	z-index: 1;
 	bottom: 45%;
 	left: -115px;
 	width: 110px;
 	opacity: 0;
 }
 .slick-next.slick-arrow{
 	display: inline-block;
 	cursor: pointer;
 	position: absolute;
 	z-index: 1;
 	bottom: 45%;
 	right: -115px;
 	width: 110px;
 	opacity: 0;
 }
	.range_item_title p{
		font-size: 12px;
	}
	#amount{
		width: 50px;	
		font-size: 14px;
	}

	.option_rules_desk_list li{
		font-size: 14px;
	}
	.option_rules_desk_list li span{
		font-size: 18px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px ) and (max-width: 992px) {
	.header_logo h2{
		top: -65px;
    	left: 100px;
    	display: block;
	}
	.header_desk_top{
		margin-top: 40px;
	}
	.header_recall a{
		width: 208px;
	}
	.header_desk_bottom{
		margin-bottom: 35px;
	}
	.feedback{
		padding-bottom: 35px;
	}
	.tooltip{
		text-align: center;
	}
	.application{
	  margin-bottom: 30px;
	}
	.application_title{
		text-align: center;
	}
	.application_title h3{
		font-size: 21px;
	}
	.application_title h3 span{
		vertical-align: bottom;
	}
	.footer_desk_bottom{
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.footer_desk_bottom img{
		padding-right: 15px;
	}
	.footer_desk_address{
		justify-content: center;
	}

	.footer_desk_address p{
		padding-left: 15px;
	}
	.footer_title{
		margin: 0;
		text-align: center;
	}
	.footer_logo{
		text-align: center;
	}
	.footer_logo h2{
		left: 0;
		top: 0;
	}
	.option_rules_desk{
		padding-bottom: 30px;
	}
	.option_rules{
		margin: 35px 0 0;
	}
	.option_rules .col-md-3{
		padding: 0;
	}

	.banks_right{
		padding-top: 20px;
	}

	.why_us_item p{
		display: block;
	}
	.credit_info .col-md-8{
		padding: 0 15px;
	}
	.credit_info_desk .overlay{
		height: 100%;
	}
	.credit_info_desk_title{
		padding-left: 10px;
		width: 50%;
		padding-top: 15%;
	}
	.credit_info_desk_title h2{
		font-size: 48px;
	}
	.credit_info_desk_title p{
		font-size: 24px;
	}
	.credit_info_desk_title .line:after{
		bottom: -25px;
		left: -15px;
	}
	
	.credit_info_advantages_rules .yellow{
		position: relative;
	}
	.credit_info_advantages_rules .yellow:after{
		content: '';
		position: absolute;
		display: block;
		background: url(../images/sale.png) no-repeat;
		right: 25px;
    	bottom: -25px;
    	width: 21px;
    	height: 44px;
    	display: none;
	}


	.slick-prev.slick-arrow{
	display: inline-block;
    position: absolute;
    left: -155px;
    bottom: 45%;
    width: 115px;
    opacity: 0;
	}

	.slick-next.slick-arrow{
	display: inline-block;
    z-index: 1;
    bottom: 40%;
    width: 115px;
    right: -116px;
    position: absolute;
    opacity: 0;
	}
}
@media only screen and (max-width : 767px) {
	/*Страница Выбора*/
	.groshi_main_item .anchor{
		padding: 0;
		transform: translateY(0);
	}
	.groshi_main .credit,
	.groshi_main .credit_card{
		background: none;
	}
	.column {
	  flex-direction: column;
	  margin-bottom: 35%;
	}

	.groshi_main_item{
		margin: 20px;
		height: 48px;
	}
	/*Cтраница Наличный кредит*/
	.header_desk_top, .header_desk_bottom{
		display: block;
	}
	.header_desk_btn{
		width: 158px;
	}
	.header_desk_top{
		margin-top: 20px;
		display: block;
	}
	.header_desk_title{
		padding-bottom: 5px;
		font-size: 14px;
	}
	.header_number a{
		font-size: 14px;
	}
	.header_recall a{
		width: 125px;
     	height: 40px;
    	line-height: 38px;
    	font-size: 12px;
    	padding: 0 5px;
	}
	.header_number{
		margin-bottom: 20px;
		font-size: 12px;
	}
	.header_number li{
		margin: 5px 3px;
	}
	.credit_info .col-md-3{
		padding: 0;
	}
	.credit_info_desk{
		background: none;
		background-color: #44A9DA;
		min-height: 318px;
		margin-bottom: 15px;
	}
	.credit_info_desk .overlay{
		background: none;
	}
	.credit_info_desk_title{
		padding: 0 15px;
	}
	.credit_info_desk_title h2{
		font-size: 42px;
	}
	.credit_info_desk_title p{
		font-size: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #fff;
	}
	.credit_info_desk_title .line:after{
		display: none;
	}
	.credit_info_advantages_title h3{
		font-size: 24px;
	}
	.credit_info_advantages_list li{
		font-size: 16px;
	}
	.credit_info_advantages_title p{
		font-size: 14px;
	}
	.credit_info_advantages_rules h3,
	.credit_info_advantages_rules p{
		font-size: 18px;
	}

	.why_us_title,
	.banks_title,
	.option_rules_desk_title,
	.option_rules_scheme h2{
		font-size: 28px;
	}
	.feedback{
		text-align: center;
	}
	.feedback_title{
		font-size: 28px;
		text-align: center;
		padding: 0;
		padding: 25px 0;
	}
	.why_us_item{
		text-align: center;
	}
	.why_us_item img{
		float: none;
	}
	.why_us_item h4,
	.why_us_item p{
		font-size: 16px;
		display: block;
	}
	.option_rules{
		margin-bottom: 0;
	}
	.option_rules .col-md-3{
		padding: 0;
	}
	.option_rules_desk_list li,
	.option_rules_desk_list li span{
		font-size: 16px;
	}
	.option_rules_desk_title{
		text-align: center;
		padding-top: 25px!important;
	}
	.option_rules_desk_list,
	.option_rules_desk_title{
		padding: 0;
	}
	.option_rules_scheme p{
		padding: 0 15px;
	}

	.feedback .prev, .feedback .forward{
		padding-top: 10px;
	}
	.feedback_slider_item .top img{
		float: none;
	}
	.feedback_slider_item .top:after{
		left: 48%;
	}
	.application_title{
		text-align: center;
	}
	.application_title h3{
		font-size: 18px;
	}
	.application_title h3 span{
		font-size: 21px;
	}
	.application_btn{
		width: 275px;
		height: 48px;
		line-height: 46px;
	}
	.footer{
		text-align: center;
	}
	.footer_title{
		font-size: 16px;
		margin: 0;
	}
	.footer_ask_title, 
	.footer_license_title{
		font-size: 16px;
		margin: 10px 0;
	}
	.footer_ask_title{
		border-top: 1px solid #fff;
    	padding-top: 15px;
	}
	.footer_ask{
		margin:0 auto 25px;
	}
	.footer_license{
		margin: 0 auto;
	}
	.footer_number a{
		font-size: 16px;
	}

	.footer_desk_bottom,
	.footer_desk_address{
		display: block;
	}
	.footer_number{
		margin: 15px 0; 
	}
	.footer_copy p{
		margin: 5px 0;
	}
	.feedback_slider_item .top img{
		margin: 0 auto;
	}
	.slick-prev.slick-arrow{
		display: inline-block;
    	position: absolute;
    	left: 40px;
    	bottom: -25px;
    	z-index: 1;
    	opacity: 0;
    	cursor: pointer;
    	width: 100px;
	}
	.slick-next.slick-arrow{
		display: inline-block;
    	position: absolute;
    	right: 45px;
    	bottom: -25px;
    	z-index: 1;
    	opacity: 0;
    	cursor: pointer;
    	width: 100px;
	}

	.modal-body .submit{
		max-width: 100%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.credit_info_advantages_rules{
		padding-top: 40px;
	}
	.option_rules_desk_list{
		padding-left: 50px;
	}
	.header_recall a{
		width: 390px;
	}
	.header_logo,
	.header_desk_top, 
	.header_desk_bottom{
		text-align: center;
	}
	.header_desk_title{
		text-align: left;
	}

	.slick-prev.slick-arrow{
		left: 90px;
	}
	.slick-next.slick-arrow{
		right: 110px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.groshi_main_item{
		margin: 20px 0;
		max-width: 100%;
	}
	.groshi_main_item .anchor{
		padding-top: 0px;
	}
	.thanks{
		font-size: 26px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 .modal-md{
 	width: 400px;
 }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.credit_info_desk_title .line:after{
		bottom: 0;
		width: 230px;
		right: -185%;
		display: none;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.credit_info_advantages_btn{
		margin: 20px 0;
	}
	.credit_info_advantages_btn a{
		max-width: 260px;
		font-size: 16px;
	}
	.credit_info_advantages:after{
		background: url(../images/credit_info_2.png) no-repeat 120%;
	}
	.card_after:after{
		background:  url(../images/cart_after.png) no-repeat;
	}
	.slick-prev.slick-arrow{
	 display: inline-block;
     position: absolute;
     z-index: 1;
     left: -105px;
     bottom: 45%;
     opacity: 0;
	}
	.slick-next.slick-arrow{
	 display: inline-block;
     position: absolute;
     z-index: 1;
     right: -105px;
     bottom: 42%;
     opacity: 0;
     width: 80px;
	}
	.feedback_btn {
    margin: 35px auto 15px;
	}

	.footer_desk_bottom,
	.footer_desk_address{
		justify-content: center;
	}
	.footer_desk_bottom img,
	.footer_desk_address img{
		margin-right: 15px;
	}

}

@media only screen and (min-width: 1500px){
	.credit_info_advantages:after {
    	background: url(../images/credit_info_2.png) no-repeat;
	}

	.card_after:after {
    background: url(../images/cart_after.png) no-repeat center / cover;
	}
}